body {
  font-family: Roboto, sans-serif;
  background-image: url("./resources/hypnotize_bg.png");
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  margin: 0;
  color: rgb(99, 99, 99);
  text-shadow: 1px 1px 1px rgb(163, 163, 163);
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  height: 550px;
}

.index {
  background-image: url("./resources/PANO_20190608_142402.vr.jpg");
}

.index h4{
  text-shadow: 1px 1px 1px rgb(163, 163, 163);
}

#about {
  background-image: url("./resources/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg");
  background-size: cover;
  height: 100%,
/*   background-position-y: -150px; */
}

#experience {
  background-image: url("./resources/green-chameleon-s9CC2SKySJM-unsplash.jpg");
/*   background-position-y: -0px;
  background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#education {
  background-image: url("./resources/jess-bailey-l3N9Q27zULw-unsplash_2.jpg");
  background-position-y: -260px;
  background-size: cover;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  text-shadow: 2px 2px 5px black;
  color: rgb(247, 161, 63);
}

.jumbotron h3 {
  margin: 0 0 120px;
  color: rgb(41, 41, 41);
  text-shadow: 2px 2px 10px rgb(255, 255, 255);
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #2a70e0;
  color: #ffffff;
  margin: 0 0 30px;
}

.portrait {
  width: 200px;
  height: 300px;
  border: 1.5px solid #746f6f;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgb(44, 44, 44);
  border-radius: 5px;
  transition: all 0.5s;
  /* box-shadow: 5px 1px #888888; */
  /* object-fit: fill; */
}

.portrait:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

footer {
  margin-top: 30px;
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

#img-quora {
  width: 22px;
  height: 22px;
}

#signature {
  margin-top: 15px;
  /* float: left; */
}

#my-pic {
  box-shadow: 0px 0px 10px rgb(44, 44, 44);
  border-radius: 5px;
}

#lang {
  text-align: center;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 1px rgb(141, 141, 141);
}

#lined {
  border-top: 2px solid gray;
}

#lang-icons {
  transform: scale(0.8);
  transition: all 0.5s;
}

#lang-icons:hover {
  transform: scale(1);
  transition: all 0.5s;
}
